*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/* navbar */
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(98, 151, 171);
  position:sticky;
  top: 0;
}
.navbar ul{
  display: flex;
  list-style: none;
  margin: 20px 0px;
}
.navbar ul li{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}
.navbar ul li a{
  text-decoration:none;
  color: white;
  padding: 8px 25px;
  transition: all .5s ease;
}
.navbar ul li a:hover{
  background-color: white;
  color: rgb(23, 106, 119);
  box-shadow: 0 0 10px white;
}

/* home section */
#home{
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 840px;
  justify-content: center;
  align-items: center;
  font-style: italic;
  color: rgba(236, 240, 244, 0.923);
}
#home::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url(./images/kn.jpeg) no-repeat center center/cover;
  height: 900px;
  width: 100%;
  z-index: -1;
  opacity: .8;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  right: 10%;
}
.headings{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  text-align: center;
  margin: 40px 0px;
}
.btn{
  padding: 10px 35px;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  transition: .6s ease;
  font-size: 18px;
  color: rgb(15, 71, 92);
}
.btn:hover{
  cursor: pointer;
  background-color: rgb(253, 253, 253);
  color: rgb(75, 95, 129);
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
  font-weight: bold;
}

/* about section */
#about{
display: flex;
flex-direction: column;
box-sizing: border-box;
padding: 20px;
margin-bottom: 50px;
background-color: rgb(157, 194, 210); 
color: rgb(69, 79, 64);
}
#pic{
  display: flex;
}
#pic img{
  width: 400px;
  height: 400px;
  opacity: .7;
}
#intro{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 10px;
  font-size: 1.2rem;
}
#intro h2{
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Portfolio section */
#portfolio{
  display: flex;
  flex-direction: column;
  background-color:rgb(185, 213, 213) ;
  color: rgb(151, 146, 139);
  align-items: center;
  padding: 20px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}
.gallery img{
  width: 500px;
  height: 240px;
  margin: 10px;
}
.gallery img:hover{
  cursor: pointer;
  opacity: .8;
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
  .image-container {
    position: relative;
  }
  
  .image-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    font-size: 16px;
  }

/* services section */
#services{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.row{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
box-sizing: border-box;
}
.box{
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 450px;
  border: 1px solid rgb(36, 57, 56);
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(to top, rgb(143, 180, 190) 50%, white 50%);
  background-size: 100% 200%;
  transition: all .8s;
}
.box:hover{
  background-position: left bottom;
  color: azure;
  border: none;
  box-shadow: 0 0 20px rgb(124, 177, 224);
  cursor: pointer;
}

/* contact section */
#contact{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgb(99, 150, 158);
  color: aliceblue;
}
.form{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 20px 0px;
}
.input{
  padding: 12px;
  margin: 15px;
  width: 30%;
  border: none;
  outline: none;
}
#msg{
  width: 20%;
  padding: 10px;
  margin: 15px;
  border: none;
  outline: none;
}
#send{
  padding: 10px;
  width: 10%;
  margin: 40px;
  border: none;
  outline: none;
}
#send:hover{
  cursor: pointer;
  box-shadow: 0 0 10px rgb(216, 224, 230);
  background-color: rgb(151, 212, 226);
}
.copyright{
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-weight: 300;
  margin: 10px;
}
span{
  color: rgb(220, 59, 59);
}

.contact-me {
  font-size: 20px;
  position: absolute;
  left: 2%;
  bottom: -225%;
}
.contact-me li a {
  color: rgb(25, 47, 60);
  font-size: 20px;
}